@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-marquee {
    display: inline-block;
    animation: marquee 30s linear infinite;
    padding-right: 100%; /* Crée un espace pour le rebouclage */
  }
  .dashboard-card {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  .chart-container {
    height: 300px;
    margin-top: 20px;
  }